{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <h1>{{ config.LABELS.login }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <p>
        {{ config.LABELS.new_user }} 
        <a href="{{ url_for('auth.register') }}">{{ config.LABELS.registration }}</a>
    </p>
    <p>
        config.LABELS.forgot_password
        <a href="{{ url_for('auth.reset_password_request') }}">config.LABELS.reset_password_click</a>
    </p>
{% endblock %}

