{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_render_field.html" import render_field %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>{{ config.LABELS.registration }}</h1>
            <br />
            <form class="form" method="post" role="form" novalidate>
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
              
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
                {{ render_field(form.ufficio) }}
                {{ render_field(form.nome_ufficio) }}

                <div class="d-grid gap-2" style="margin-top: 1em;">
                    {{ wtf.form_field(form.submit, button_map=btn_map) }}
                </div>
              </form>
        </div>
    </div>
{% endblock %}
