{% extends "base.html" %}

{% block app_content %}
    <h1>{{ config.LABELS.storico_fascicolo }}</h1>
    <table id="data" class="table table-striped">
        <tr>
          <th>config.LABELS.codice</th>
          <th>config.LABELS.utente_possesso</th>
          <th>config.LABELS.ufficio</th>
          <th>config.LABELS.data</th>
        </tr>
        {% for fascicolo in files %}
        <tr>
          <td>{{ fascicolo.code }}</td>
          <td>{{ fascicolo.nome + " " + fascicolo.cognome }}</td>
          <td>{{ fascicolo.ufficio }}</td>
          <td>{{ fascicolo.created.strftime(' %d/%m/%Y %H:%M ') }}</td>
          <td>{% if  fascicolo.id == current_user.id %}
            <a class="btn btn-danger btn-md" href="{{ url_for('fascicoli.record_delete', code=code, created=fascicolo.created) }}">{{ config.LABELS.elimina_record }}</a>
          {% endif %}</td>
        </tr> 
        {% endfor %}
    </table>
    <div class="row">
      <div class="col-sm-2">
        <a class="btn btn-danger btn-md" href="{{ url_for('fascicoli.file_delete', code=code) }}">{{ config.LABELS.elimina_fascicolo }}</a><br />
      </div>
      <div class="col-sm-2">
        <a class="btn btn-primary btn-md" href="{{ url_for('fascicoli.download', code=code) }}">{{ config.LABELS.download_QR }}</a>
      </div>
    </div>
{% endblock %}
