{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}  
    <div class="row">
        <div class="col-md-4 offset-md-4">
            {% if crea %}
                <h1>Crea fascicolo</h1>
            {% elif modifica %}
                <h1>Modifica fascicolo</h1>
            {% else %}
                <h1>Duplica fascicolo </h1>
            {% endif %}

            <br />
            
            <form class="form form" method="post" role="form" novalidate>
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
              
                {{ wtf.form_field(form.rg21) }}
                {{ wtf.form_field(form.rg20) }}
                {{ wtf.form_field(form.rg16) }}
                {{ wtf.form_field(form.anno) }}

                <div class="d-grid gap-2" style="margin-top: 1em;">
                    {{ wtf.form_field(form.submit, button_map=btn_map) }}
                </div>
              </form>
        </div>
    </div>
{% endblock %}
