{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_render_field.html" import render_field %}

{% block app_content %}  
    <div class="row">
        <div class="col-md-4 offset-md-4">
            {% if crea %}
                <h1>{{ config.LABELS.crea_fascicolo }}</h1>
            {% elif modifica %}
                <h1>{{ config.LABELS.modifica_fascicolo }}</h1>
            {% else %}
                <h1>{{ config.LABELS.duplica_fascicolo }} </h1>
            {% endif %}

            <br />
            
            <form class="form" method="post" role="form" novalidate>
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
              
                {{ render_field(form.rg21) }}
                {{ render_field(form.rg20) }}
                {{ render_field(form.rg16) }}
                {{ render_field(form.anno) }}

                <div class="d-grid gap-2" style="margin-top: 1em;">
                    {{ wtf.form_field(form.submit, button_map=btn_map) }}
                </div>
              </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}


{% endblock %}