{% extends "base.html" %}

{% block app_content %}

    <section class="jumbotron text-center">
      <div class="container">
        <h1>{{ config.LABELS.dettaglio_fascicolo }}</h1>
        
        <br />

        <div class="row">
          <div class="col-sm-1 offset-sm-5">
            <strong>{{ config.LABELS.rg21 }}</strong>:
          </div>
          <div class="col-sm-1 offset-sm-1 offset-md-0">
            {{ file.rg21 }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-1 offset-sm-5">
            <strong>{{ config.LABELS.rg20 }}</strong>:
          </div>
          <div class="col-sm-1 offset-sm-1 offset-md-0">
            {% if file.rg20 %}
            {{ file.rg21 }}
            {% else %}
            
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-1 offset-sm-5">
            <strong>{{ config.LABELS.rg16 }}</strong>:
          </div>
          <div class="col-sm-1 offset-sm-1 offset-md-0">
            {% if file.rg16 %}
            {{ file.rg16 }}
            {% else %}
            
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-1 offset-sm-5">
            <strong>{{ config.LABELS.anno }}</strong>:
          </div>
          <div class="col-sm-1 offset-sm-1 offset-md-0">
            {{ file.anno }}
          </div>
        </div>
  
        <br />

        <div class="btn-group flex-wrap" role="group" aria-label="Actions">
          <a class="btn btn-primary btn-md btn-block" href="{{ url_for('fascicoli.download', file_id=file.id) }}">{{ config.LABELS.download_QR }}</a>
          <a class="btn btn-info btn-md btn-block" href="{{ url_for('fascicoli.file_modify', file_id=file.id) }}">{{ config.LABELS.modifica }}</a>
          <a class="btn btn-success btn-md btn-block" href="{{ url_for('fascicoli.file_duplicate', file_id=file.id) }}">{{ config.LABELS.duplica }}</a>          
          <a class="btn btn-danger btn-md btn-block" href="{{ url_for('fascicoli.file_delete', file_id=file.id) }}">{{ config.LABELS.elimina }}</a>
        </div>
      </div>
    </section>

    <br /><hr>
    <h3>{{ config.LABELS.storico_fascicolo }}</h3>
    <table id="data" class="table table-striped">
        <tr>
          <th>{{ config.LABELS.utente_possesso }}</th>
          <th>{{ config.LABELS.nome_ufficio }}</th>
          <th>{{ config.LABELS.num }}</th>
          <th>{{ config.LABELS.data }}</th>
          <th>{{ config.LABELS.azione }}</th>
        </tr>
        {% for h in hist %}
        <tr>
          <td>{{ h.nome + " " + h.cognome }}</td>
          <td>{{ h.nome_ufficio }}</td>
          <td>{{ h.ufficio }}</td>
          <td>{{ h.created.strftime(' %d/%m/%Y %H:%M ') }}</td>
          <td>{% if h.user_id == current_user.id %}
            <a class="btn btn-danger btn-md" href="{{ url_for('fascicoli.record_delete', hist_id=h.id) }}">{{ config.LABELS.elimina }}</a>
          {% endif %}</td>
        </tr> 
        {% endfor %}
    </table>

{% endblock %}
