{% extends "base.html" %}

{% block app_content %}

    <section class="jumbotron text-center">
      <div class="container">
        <h1>{{ config.LABELS.dettaglio_fascicolo }}</h1>
        
        <br />

        <div class="row">
          <div class="col-sm-1 offset-sm-5">
            <strong>{{ config.LABELS.rg21 }}</strong>:
          </div>
          <div class="col-sm-1 offset-sm-1 offset-md-0">
            {{ file.rg21 }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-1 offset-sm-5">
            <strong>{{ config.LABELS.rg20 }}</strong>:
          </div>
          <div class="col-sm-1 offset-sm-1 offset-md-0">
            {% if file.rg20 %}
            {{ file.rg21 }}
            {% else %}
            
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-1 offset-sm-5">
            <strong>{{ config.LABELS.rg16 }}</strong>:
          </div>
          <div class="col-sm-1 offset-sm-1 offset-md-0">
            {% if file.rg16 %}
            {{ file.rg16 }}
            {% else %}
            
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-1 offset-sm-5">
            <strong>{{ config.LABELS.anno }}</strong>:
          </div>
          <div class="col-sm-1 offset-sm-1 offset-md-0">
            {{ file.anno }}
          </div>
        </div>
  
        <br />

        <div class="btn-group flex-wrap" role="group" aria-label="Actions">
          <a class="btn btn-primary btn-md btn-block" href="{{ url_for('fascicoli.download', file_id=file.id) }}">{{ config.LABELS.download_QR }}</a>
          <a class="btn btn-info btn-md btn-block" href="{{ url_for('fascicoli.file_modify', file_id=file.id) }}">{{ config.LABELS.modifica }}</a>
          <a class="btn btn-success btn-md btn-block" href="{{ url_for('fascicoli.file_duplicate', file_id=file.id) }}">{{ config.LABELS.duplica }}</a>  
          <button type="button" class="btn btn-danger btn-md btn-block" data-bs-toggle="modal" data-bs-target="#deleteFileModal">{{ config.LABELS.elimina }}</button>        
        </div>
      </div>
    </section>

    <br /><hr>
    <h3>{{ config.LABELS.storico_fascicolo }}</h3>
    <div class="container">
      <div class="row">
        <div class="table-responsive col-md-12">
          <table id="data" class="table table-striped table-hover dt-responsive">
          <thead>
              <tr>
              <th>{{config.LABELS.utente_possesso}}</th>
              <th>{{config.LABELS.nome_ufficio}}</th>
              <th>{{config.LABELS.num}}</th>
              <th>{{config.LABELS.data}}</th>
              <th>{{config.LABELS.azione}}</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
          </table>
        </div>
      </div>
    </div>


    <!-- Modals -->
    <div class="modal fade" id="deleteFileModal" tabindex="-1" aria-labelledby="deleteFileModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteFileModalLabel">{{ config.LABELS.elimina_fascicolo }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{ config.LABELS.sicuro_elimina_file }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> {{ config.LABELS.chiudi  }}</button>
            <a class="btn btn-danger btn-md btn-block" href="{{ url_for('fascicoli.file_delete', file_id=file.id) }}">{{ config.LABELS.elimina }}</a>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="deleteHistModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">{{ config.LABELS.elimina_storico }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{ config.LABELS.sicuro_elimina_hist }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> {{ config.LABELS.chiudi  }}</button>
            <a class="btn btn-danger btn-md btn-block" id="btnEliminaHist">{{ config.LABELS.elimina }}</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        language: {
            url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/it-IT.json'
        },
        ajax: '{{ url_for("fascicoli.data", file_id=file.id) }}',
        columns: [
          {data: 'user_name', orderable: false},
          {data: 'office_name', orderable: false},
          {data: 'office_number', orderable: false},
          {data: 'created'},
          {data: 'btn', orderable: false, searchable: false, className: 'dt-body-center'}
        ],
      });
  });

  $(document).ready(function() {
    $('#deleteHistModal').on('show.bs.modal', function(e) {
      var id = $(e.relatedTarget).data('id');
      $('#btnEliminaHist').attr('href', '/fascicoli/' + id + '/hist_delete');
    });
  });
  
  </script>
{% endblock %}
