{% extends "base.html" %}

{% block app_content %}
    <h1>{{ config.LABELS.dettaglio_fascicolo }}</h1>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <h5><b>{{ config.LABELS.rg21 }}</b></h5>
        </div>
        <div class="col-md-1 offset-md-1">
          {% if file.rg21 %}
          <h5>{{ file.rg21 }}</h5>
          {% else %}
          <h5></h5>
          {% endif %}        
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <h5><b>{{ config.LABELS.rg20 }}</b></h5>
        </div>
        <div class="col-md-1">
          {% if file.rg20 %}
          <h5>{{ file.rg20 }}</h5>
          {% else %}
          <h5></h5>
          {% endif %}        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <h5><b>{{ config.LABELS.rg16 }}</b></h5>
        </div>
        <div class="col-md-1 offset-md-1">
          {% if file.rg16 %}
          <h5>{{ file.rg16 }}</h5>
          {% else %}
          <h5></h5>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <h5><b>{{ config.LABELS.codice_anno }}</b></h5>
        </div>
        <div class="col-md-1 offset-md-1">
          <h5>{{ file.anno }}</h5>
        </div>
      </div>
    </div>

    <br /><hr>
    <h3>{{ config.LABELS.azioni }}</h3>

      <div class="row">
        <div class="col-md-2">
          <a class="btn btn-primary btn-md btn-block" style="margin-right: 20px;" href="{{ url_for('fascicoli.download', file_id=file.id) }}">{{ config.LABELS.download_QR }}</a>
        </div>
        <div class="col-md-2 offset-md-1">
          <a class="btn btn-info btn-md btn-block" style="margin-right: 20px;" href="{{ url_for('fascicoli.file_modify', file_id=file.id) }}">{{ config.LABELS.modifica }}</a>
        </div>
        <div class="col-md-2 offset-md-1">
          <a class="btn btn-success btn-md btn-block" style="margin-right: 20px;" href="{{ url_for('fascicoli.file_duplicate', file_id=file.id) }}">{{ config.LABELS.duplica }}</a>
        </div>
        <div class="col-md-2 offset-md-1">
          <a class="btn btn-danger btn-md btn-block" style="margin-right: 20px;" href="{{ url_for('fascicoli.file_delete', file_id=file.id) }}">{{ config.LABELS.elimina_fascicolo }}</a>
        </div>
      </div>  


    <br /><hr>
    <h3>{{ config.LABELS.storico_fascicolo }}</h3>
    <table id="data" class="table table-striped">
        <tr>
          <th>{{ config.LABELS.utente_possesso }}</th>
          <th>{{ config.LABELS.nome_ufficio }}</th>
          <th>{{ config.LABELS.num }}</th>
          <th>{{ config.LABELS.data }}</th>
          <th>{{ config.LABELS.azione }}</th>
        </tr>
        {% for h in hist %}
        <tr>
          <td>{{ h.nome + " " + h.cognome }}</td>
          <td>{{ h.nome_ufficio }}</td>
          <td>{{ h.ufficio }}</td>
          <td>{{ h.created.strftime(' %d/%m/%Y %H:%M ') }}</td>
          <td>{% if h.user_id == current_user.id %}
            <a class="btn btn-danger btn-md" href="{{ url_for('fascicoli.record_delete', hist_id=h.id) }}">{{ config.LABELS.elimina_record }}</a>
          {% endif %}</td>
        </tr> 
        {% endfor %}
    </table>
    <h3>{{ config.LABELS.azioni }}</h3>
    <meta id="file_id" data-file="{{ file.id }}">
    <a class="btn btn-danger btn-md" id="btn">{{ config.LABELS.elimina_fascicolo }}</a><br />
    <a class="btn btn-primary btn-md" href="{{ url_for('fascicoli.download', file_id=file.id) }}">{{ config.LABELS.download_QR }}</a><br />
    <a class="btn btn-info btn-md" href="{{ url_for('fascicoli.file_modify', file_id=file.id) }}">{{ config.LABELS.modifica }}</a><br />
    <a class="btn btn-success btn-md" href="{{ url_for('fascicoli.file_duplicate', file_id=file.id) }}">{{ config.LABELS.duplica }}</a><br />
{% endblock %}
{% block scripts %}
    <script>
      var file_id = $('#file_id').data("file");
      $('#btn').click(function () { 
          if (confirm("Vuoi confermare?")) {
              location.href = "/fascicoli/"+file_id+"/delete" ;
          }
      });
        </script>
{% endblock %}
