{% extends "base.html" %}

{% block app_content %}
  <h1>{{ config.LABELS.statistics }}</h1>
  <hr>
  <div class="container">
    <div class="row">
      <div class="table-responsive col-md-12">
        <table id="data" class="table table-striped table-hover dt-responsive">
          <thead>
            <tr>
              <th>{{config.LABELS.nome_utente}}</th>
              <th>{{config.LABELS.ufficio}}</th>
              <th>{{config.LABELS.nome_ufficio}}</th>
              <th>{{config.LABELS.numero_fascicoli}}</th>
              <th>{{config.LABELS.tempo_medio}}</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      var table = $('#data').DataTable({
        language: {
            url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/it-IT.json'
        },
        ajax: '{{ url_for("statistics.data") }}',
        columns: [
          {"data": 'nome_utente'},
          {"data": 'numero_ufficio'},
          {"data": 'nome_ufficio'},
          {"data": 'numero_fascicoli'},
          {"data": 'media_tempo',
            "render": function (data, type, row) {
              return toDDHHMMSS(data);
            }
          }
        ],
      });  
      
      $('#data_filter').css("float", 'right');

  });
  function toDDHHMMSS(seconds) {
    var sec_num = parseInt(seconds, 10); // don't forget the second param
    var days    = Math.floor(sec_num / 86400);
    var hours   = Math.floor((sec_num - (days * 86400)) / 3600);
    var minutes = Math.floor((sec_num - (days * 86400) - (hours * 3600)) / 60);
    var seconds = sec_num - (days * 86400) - (hours * 3600) - (minutes * 60);

    if (days    < 10) {days    = "0"+days;}
    if (hours   < 10) {hours   = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}
    if (days > 0) {
      return days+'g '+hours+'o '+minutes+'m '+seconds+'s';
    } else if (hours > 0) {
      return hours+'o '+minutes+'m '+seconds+'s';
    } else if (minutes > 0) {
      return minutes+'m '+seconds+'s';
    } else {
      return seconds+'s';
    }
  }
  </script>    
    
{% endblock %}

