{% extends "base.html" %}

{% block app_content %}
  <h1>{{ config.LABELS.lista_utenti }}</h1>
  <hr>
  <div class="container">
      <div class="row">
      <div class="table-responsive col-md-12">
          <table id="data" class="table table-striped table-hover dt-responsive">
          <thead>
              <tr>
              <th>{{config.LABELS.nome_utente}}</th>
              <th>{{config.LABELS.email_utente}}</th>
              <th>{{config.LABELS.ufficio}}</th>
              <th>{{config.LABELS.nome_ufficio}}</th>
              <th>{{config.LABELS.privilegi}}</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#data').DataTable({
      language: {
          url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/it-IT.json'
      },
      ajax: '{{ url_for("user.data") }}',
      columns: [
        {data: 'nome_utente'},
        {data: 'email_utente'},
        {data: 'ufficio'},
        {data: 'nome_ufficio'},
        {data: 'privilegi', orderable: false},
      ],
    });
});

</script>
{% endblock %}
