{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <table id="data" class="table table-striped">
        <tr>
          <th>{{config.LABELS.nome_utente}}</th>
          <th>{{config.LABELS.email_utente}}</th>
          <th>{{config.LABELS.ufficio}}</th>
          <th>{{config.LABELS.nome_ufficio}}</th>
          <th>{{config.LABELS.privilegi}}</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{ user.nome + " " + user.cognome }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.ufficio }}</td>
          <td>{{ user.nome_ufficio }}</td>
          <td>
            <meta id="user_id" data-user="{{ user.id }}">
            {% if  user.superuser == False %}
                <a class="btn btn-success btn-md" id="btn_promote">{{ config.LABELS.promote }}</a>
            {% else %}
                <a class="btn btn-danger btn-md" id="btn_demote">{{ config.LABELS.demote }}</a>
            {% endif %}
        </td>
        </tr> 
        {% endfor %}
    </table>
{% endblock %}
{% block scripts %}
    <script>
        var user_id = $('#user_id').data("user");
        $('#btn_promote').click(function () { 
            if (confirm("Vuoi confermare?")) {
                location.href = "/su/promote/" + user_id;

            }
        });
        $('#btn_demote').click(function () { 
            if (confirm("Vuoi confermare?")) {
                location.href = "/su/demote/" + user_id;

            }
    });
        </script>
{% endblock %}