{% extends 'bootstrap/base.html' %}

{% block title %}
    {{ app_title }}
    
{% endblock %}

{% block head %}
{{super()}}

    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <script type="text/javascript" src="{{ bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script type="text/javascript" src="{{ bootstrap_find_resource('umd/popper.js', cdn='popper' )}}"></script>

    <script type="text/javascript" src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">{{ config.LABELS.home }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('fascicoli.generation') }}">{{ config.LABELS.nuovo_file }}</a>
          </li>
        </ul>

        <div class="nav-item dropdown ms-auto">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ current_user.nome }} {{ current_user.cognome }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('user.user', id=current_user.id) }}">{{ config.LABELS.profilo }}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">{{ config.LABELS.logout }}</a></li>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
{{ super() }}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}




