{% extends 'bootstrap/base.html' %}

{% block title %}
    {{ super() }}
    {{ config.LABELS.title }}
{% endblock %}

{% block head %}
{{super()}}

    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">

    <script type="text/javascript" src="{{ bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script type="text/javascript" src="{{ bootstrap_find_resource('umd/popper.js', cdn='popper' )}}"></script>
    <script type="text/javascript" src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">{{ config.LABELS.home }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('fascicoli.generation') }}">{{ config.LABELS.nuovo_file }}</a>
                </li>

                {% if current_user.superuser == True %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('statistics.view') }}">{{ config.LABELS.statistics }}</a>
                    </li>
                {% endif %}

                {% if current_user.email == config.ADMIN_MAIL %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.see_users') }}">{{ config.LABELS.visualizza_utenti }}</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>

        {% if current_user.is_anonymous %}
            {% if request.endpoint == "auth.login" %}
                <a class="nav-item nav-link ms-auto text-light" href="{{ url_for('auth.register') }}">{{ config.LABELS.registration }}</a>
            {% else %}
                <a class="nav-item nav-link ms-auto text-light" href="{{ url_for('auth.login') }}">{{ config.LABELS.login }}</a>
            {% endif %}
        {% else %}
        <div class="nav-item dropdown ms-auto">
            <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ current_user.nome }} {{ current_user.cognome }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" role="group" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="dropdown-item" href="{{ url_for('user.user', id=current_user.id) }}">{{ config.LABELS.profilo }}</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">{{ config.LABELS.logout }}</a>
                </li>
            </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
  </br>
{% endblock %}

{% block content %}
{{ super() }}
    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} d-flex align-items-center alert-dismissible fade show" role="alert">
                    <div>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
      {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </main>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $(".dropdown-toggle").dropdown();
    });
</script>
{% endblock %}
