{% extends "base.html" %}

{% block app_content %}
    <h1>Buongiorno, {{ current_user.nome }}!</h1>
    <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>{{ config.LABELS.codice }}</th>
            <th>{{ config.LABELS.utente_possesso }}</th>
            <th>{{ config.LABELS.ufficio }}</th>
            <th>{{ config.LABELS.data }}</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      var table=$('#data').DataTable({
        language: {
            url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/it-IT.json'
        },
        ajax: '/api/data',
        columns: [
          {data: 'code', orderable: false},
          {data: 'user_name', orderable: false},
          {data: 'user_office', orderable: false},
          {data: 'created'},
        ],
      });

      table.on('click', 'tr', function () {
        var data = table.row(this).data();
        location.href = "/fascicoli/" + data.code;
      });
  });
  </script>
{% endblock %}
