{% extends "base.html" %}

{% block app_content %}
  <h1>Tracciabilità fascicoli - Tribunale di Brescia</h1>
  <br />
  <h3>{{ config.LABELS.movimentazioni }}</h3>
  <hr>
  <div class="container">
    <div class="row">
      <div class="table-responsive col-md-12">
        <table id="data" class="table table-striped table-hover dt-responsive">
          <thead>
            <tr>
              <th></th>
              <th>{{ config.LABELS.rg16 }}</th>
              <th>{{ config.LABELS.rg20 }}</th>
              <th>{{ config.LABELS.rg21 }}</th>
              <th>{{ config.LABELS.anno }}</th>
              <th>{{ config.LABELS.utente_possesso }}</th>
              <th>{{ config.LABELS.nome_ufficio }}</th>
              <th>{{ config.LABELS.num }}</th>
              <th>{{ config.LABELS.data }}</th>
              <th>{{ config.LABELS.azione }}</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        language: {
            url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/it-IT.json'
        },
        ajax: '/api/data',
        columns: [
          {data: 'file_id', visible: false, searchable: false},
          {data: 'RG16'},
          {data: 'RG20'},
          {data: 'RG21'},
          {data: 'anno'},
          {data: 'user_name', orderable: false},
          {data: 'office_name', orderable: false},
          {data: 'office_number', orderable: false},
          {data: 'created'},
          {data: 'btn', orderable: false, searchable: false, className: 'dt-body-center'}
        ],
      });
  });
  
  </script>
{% endblock %}
